export(runScattR)
export(define_hierarchy)
export(input_xy)
export(input_mouseclick)
export(input_color_group)

#' @import shiny
#' @import tidyverse
#' @import scales
#' @import haven
#' @import DT
#' @import shinyjs
